[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "comclim"]
	path = comclim
	url = https://github.com/bblonder/comclim
[submodule "hypervolume"]
	path = hypervolume
	url = https://github.com/bblonder/hypervolume
[submodule "netassoc"]
	path = netassoc
	url = https://github.com/bblonder/netassoc
[submodule "timeordered"]
	path = timeordered
	url = https://github.com/bblonder/timeordered
